<!DOCTYPE html>
<html ng-app="lunchApp" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Hello Spring Security</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}"/>

</head>

<body>
<div th:substituteby="index::logout"></div>
<h1>This is a secured page!</h1>

<div ng-controller="groupCtrl">
    <div ng-controller="mapCtrl" >
        <div ng-repeat="lunch in lunchgroups" ng-click="showme=!showme; setLoc(lunch)">
            {{lunch.title}}
            <div ng-show="showme">
                {{lunch.date}} {{lunch.time}} {{lunch.isPublic}} {{lunch.place}} {{lunch.users}}
                <button ng-click="addToGroup(lunch)">Add me</button>
                <div style="width:500px; height:300px" id="{{lunch.title}}"></div>
            </div>
        </div>
    </div>
    <div>
        {{activeGroup}}
    </div>
</div>


<p><a href="/index" th:href="@{/index}">Back to home page</a></p>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="/scripts/OpenLayers.js"></script>
<script src="http://www.openstreetmap.org/openlayers/OpenStreetMap.js"></script>
<script src="/scripts/app.controller.js"></script>
<script src="/scripts/app.map.controller.js"></script>
<script src="/scripts/app.js"></script>
</body>

</html>