<div class="grid-element">

    <div class="lunch-ui-wrap">

        <div class="lunch-ui">
            <div class="header">
                <div class="photo">
                    <img src="http://s7.favim.com/610/151230/food-tumblr-Favim.com-3825107.jpg"/>
                </div>

            </div>
    
            <div class="content">
                <div class="name">{{lunch.title}}</div>

                <p class="text">{{lunch.place}} klockan {{lunch.time.hour}}:{{lunch.time.minute}}
                    den {{lunch.date.dayOfMonth}}
                    {{lunch.date.month}}</p></div>

            <div class="bottom">
                <div class="left">
                    <button type="button" class="btn btn-primary btn-md"
                            ng-click="showme=!showme; setLoc(lunch)">ÖPPNA
                    </button>
                    <button class = "btn btn-primary btn-md" ng-click="addToGroup(lunch)">GÅ MED</button>
                    <div class="right">

                        <span class="fa-stack text-primary data-balloon-length="medium" data-balloon="Namn på folk här" data-balloon-pos="top"">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-cutlery fa-stack-1x fa-inverse"></i>
                        </span>{{lunch.users.Attending.length}}
                    </div>

                </div>

                <div ng-show="showme">
                    <div  style="height: 240px;">
                        <div ng-repeat='(key, value) in lunch.users'>
                            <span>{{key}} :</span>
                            <div ng-repeat="user in value">{{user.nickname}}</div>
                        </div>
                        <div style="width:202px; height:202px;" id="{{lunch.lunchid}}"></div>
                    </div>


                </div>

            </div>
        </div>
    </div>

    <!--end-->

    <!--  hidden element-->
    <!--hidden element-->

</div>