

<div>
    <ng-form>
        Lunch Title:
        <input type="text" ng-model="lunchtitle"/>
        <input type="text" ng-model="place" />
        <br/>
        Restaurang:
        <input type="text" ng-model = "searchPlace"/>
        <button type="button" ng-click="doQuery(searchPlace, lunch)">Submit</button>
        <div style="width:500px; height:300px" id="map"></div>

        Is Public: yes/no
        <input type="radio" name="publicchoice" value = "notpublic" ng-model="setpublic"/>
        <input type="radio" name="publicchoice" value = "public" ng-model="setpublic"/>
        <br/>
        <input type="button" ng-click="createLunch(lunchtitle)"/>
    </ng-form>
</div>