@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);



body {
    font-family: 'Lato', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: #5a5a5a;
    margin: 0;

    background: -webkit-linear-gradient(90deg, #DAD299 10%, #B0DAB9 90%);
    background: -webkit-linear-gradient(0deg, #DAD299 10%, #B0DAB9 90%);
    background: linear-gradient(90deg, #DAD299 10%, #B0DAB9 90%)
}

*,
:after,
:before {
    box-sizing: border-box
}

.knapp:after,
.knapp:before {
    content: '';
    display: table
}

.knapp:after {
    clear: both;
    display: block;
}

.lunch-ui-wrap {
    width: 222px;
    height: 340px;
    margin: 4% auto;
    overflow: hidden;
    background: #fff;
    position: relative;

    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19)
}

.lunch-ui {
    padding: 15px;
    height: 100%;
    border-top: 0px solid;
}

.lunch-ui .header {
    position: relative;
}

.lunch-ui .header .photo img {
    width: 100%;
    display: block;
}

.lunch-ui .content {
    padding-top: 5px;
}

.lunch-ui .content .name {
    font-size: 21px;
    font-weight: 900;
    margin-bottom: px
}
.lunch-ui .content .text{
    line-height:25px;
    display: inline;
}

.bottom {

}
.left {
    float:left;
    background: yellow;

}
.right {
    display: inline-block;

    text-align: right;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 900;

    color: black;
    float:right;

}